<app-layout-conteiner
  [isSwitchingTab]="isSwitchingTab"
  [isBooting]="isBooting"
>

  <div class="flex flex-col gap-6">
    <app-timer [tempo]="tempo"></app-timer>

    

    <div
      *ngFor="let item of [].constructor(totalRounds); let i = index"
    >

    

      <!-- 🔥 só mostra o round atual -->
      <div *ngIf="i <= currentRound"
      
           class="flex flex-col gap-3">

           <div class="text-center text-secondary tracking-widest text-sm">
      Rodada {{ i + 1 }} / {{ totalRounds }}
    </div>

        

        <app-pinos-selecionados
        [disabled]="i !== currentRound"
        (venceu_partida)="venceu_partida($event)"
          (enviado)="advanceRound()"
        ></app-pinos-selecionados>

      </div>

    </div>

  </div>

</app-layout-conteiner>