<div class="w-full max-w-md sm:max-w-lg px-4">

  <div class="w-full system-enter">

    <div class="p-5 sm:p-8 rounded-2xl border border-primary shadow-neon backdrop-blur-md">

      <h1 class="text-secondary shadow-neon-white
                 text-xl sm:text-2xl text-center mb-5 sm:mb-6 tracking-widest">
        RECOVER ACCESS
      </h1>

      <form class="flex flex-col gap-4 sm:gap-5">

        <input type="email"
          placeholder="Digite seu email"
          class="bg-transparent border border-primary px-3 py-2 sm:px-4 sm:py-2.5
                 rounded-md text-white focus:shadow-neon text-sm sm:text-base"/>

        <button type="button"
          (click)="enviarEmail()"
          class="bg-primary text-black font-bold py-2 sm:py-2.5
                 rounded-md shadow-neon hover:scale-105 transition text-sm sm:text-base">
          ENVIAR CÓDIGO
        </button>

        <p *ngIf="email"
           class="text-secondary text-xs sm:text-sm text-center shadow-neon-white">
          Enviamos um email para que você recupere sua senha
        </p>

        <div *ngIf="email" class="flex flex-col gap-3 sm:gap-4">

          <input type="text" placeholder="Código recebido"
            class="bg-transparent border border-primary px-3 py-2 sm:px-4 sm:py-2.5
                   rounded-md text-white focus:shadow-neon text-sm sm:text-base"/>

          <input type="password" placeholder="Nova senha"
            class="bg-transparent border border-primary px-3 py-2 sm:px-4 sm:py-2.5
                   rounded-md text-white focus:shadow-neon text-sm sm:text-base"/>

          <input type="password" placeholder="Confirmar senha"
            class="bg-transparent border border-primary px-3 py-2 sm:px-4 sm:py-2.5
                   rounded-md text-white focus:shadow-neon text-sm sm:text-base"/>

          <button
            class="bg-primary text-black font-bold py-2 sm:py-2.5
                   rounded-md shadow-neon hover:scale-105 transition text-sm sm:text-base">
            RESETAR SENHA
          </button>

        </div>

      </form>

      <div class="mt-5 sm:mt-6 text-center">
       <button (click)="voltarLogin()"
          class="cursor-pointer text-secondary hover:text-primary hover:shadow-neon-white transition duration-300 text-sm sm:text-base">
          Voltar
        </button>
      </div>

    </div>

  </div>

</div>