<div class="min-h-screen flex items-center justify-center bg-background font-tron relative overflow-hidden">

  <!-- Glow fundo -->
  <div class="absolute w-[600px] h-[600px] bg-primary opacity-10 blur-3xl rounded-full"></div>

  <!-- INTRO -->
  <div *ngIf="fase === 'intro'" class="text-center transition-all duration-700">

    <h1 
      class="text-6xl text-primary font-bold tracking-widest opacity-100 transition-all duration-[1800ms] ease-[cubic-bezier(0.22,1,0.36,1)]"
      [class.move-up]="animouTitulo">
      MASTERMIND
    </h1>

    <p 
      class="mt-6 text-secondary text-lg transition-all duration-300"
      [class.blink]="piscando"
      [class.hidden]="esconderTexto">
      clique em qualquer tecla para continuar
    </p>

  </div>

  <!-- SISTEMA -->
  <div *ngIf="fase === 'login'" class="w-full flex justify-center">

    <div [class.system-exit]="animando">

      <app-logar 
        *ngIf="tela === 'login'"
        (Recuperar)="trocarTela('recuperar')"
        (Cadastro)="trocarTela('cadastro')">
      </app-logar>

      <app-cadastro 
        *ngIf="tela === 'cadastro'"
        (voltar)="trocarTela('login')">
      </app-cadastro>

      <!-- <app-recuperar-acesso
        *ngIf="tela === 'recuperar'"
        (voltar)="trocarTela('login')">
      </app-recuperar-acesso> -->

    </div>

  </div>

</div>