.shadow-neon-white {
  color: #ffffff;
  text-shadow:
    0 0 4px #00f0ff,
    0 0 8px #00f0ff,
    0 0 16px #00f0ff;
}

@keyframes neon-pulse {
  0%, 100% {
    text-shadow:
      0 0 4px #00f0ff,
      0 0 8px #00f0ff;
  }
  50% {
    text-shadow:
      0 0 8px #00f0ff,
      0 0 20px #00f0ff;
  }
}

.pulse-neon {
  animation: neon-pulse 2s infinite ease-in-out;
}

@keyframes fadeInSystem {
  0% {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.system-enter {
  animation: fadeInSystem 0.5s ease-out forwards;
}


.system-exit {
  animation: exitSmooth 0.8s forwards;
}

@keyframes exitSmooth {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateY(40px);
  }
}