<div class="fixed right-4 top-1/2 -translate-y-1/2 flex flex-col gap-3">

  <!-- SOM -->
  <!-- <button
    (click)="toggleSoundClicked()"
    class="w-12 h-12 flex items-center justify-center
           rounded-full border border-primary
           backdrop-blur-md shadow-neon
           text-secondary hover:bg-primary/20
           transition btn-glow">

    <span class="text-xl">
      {{ soundMuted ? '🔇' : '🔊' }}
    </span>

  </button> -->

  <!-- CONFIGURAÇÕES -->
  <!-- <button
    (click)="openSettingsClicked()"
    class="w-12 h-12 flex items-center justify-center
           rounded-full border border-primary
           backdrop-blur-md shadow-neon
           text-secondary hover:bg-primary/20
           transition btn-glow">

    <span class="text-xl">⚙️</span>

  </button> -->

  <!-- SAIR (LOGOUT) -->
  <button
    (click)="logoutClicked()"
    class="w-12 h-12 flex items-center justify-center
           rounded-full border border-primary
           backdrop-blur-md shadow-neon
           text-secondary hover:bg-red-500/20
           hover:border-red-400
           transition btn-glow">

    <span class="text-xl">🚪</span>

  </button>

</div>